.card{
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  max-width: 450px;
  display: inline-block;
}
.card .card-image{
  max-width: 60%;
  height: auto;
}
.card .card-title{
  font-family: arial, sans-serif;
  margin: 0;
}
.card .card-text{
  font-family: arial, sans-serif;
}
