@model Product
<form method="post">
    <div>
    <input asp-for="Name" placeholder="Name" class="form-control mb-3"></input>
    </div>
    <div>
    <input asp-for="Price" placeholder="Price" class="form-control mb-3"></input>
    </div>
    <div>
        <button type="submit" class="form-control">Create</button>
    </div>
    </form>