DB_HOST=localhost
DB_HOST_DOCKER=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=postgres
DB_SSLMODE=disable

SERVER_PORT=8080

SESSION_SECRET=use-at-least-32-random-characters-here
